<html>
    <head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        <center>
        <div class="jumbotron">
            <h1 class="display-4">Song & Spell</h1>
            <p>Type a word for it's song to be played</p>
            <p>Press space-bar to stop playing a song</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="/add_word" role="button">Add new song</a>
            <a class="btn btn-primary btn-lg" href="/mute" role="button">Mute Now</a>
            <div class="slidecontainer">
                <h5>Speaker Volume</h5>
              <form id="set_volume_form" action="/set_volume" role="form" method="post">
                  <input type="range" min="0" max="100" value="{{ volume_perc }}" class="slider" id="volume_input" name="volume_perc">
              </form>
            </div>
            </p>
        </div>
        </center>

    <script>
        $('#volume_input').change(function() {
            $('#set_volume_form').submit()
        });
    </script>
