[Unit]
Description=Song.And.Spell
After=syslog.target
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/
ExecStart=/usr/local/bin/song_and_spell
Restart=always
Environment=USER=pi HOME=/home/pi

[Install]
WantedBy=multi-user.target
