{% extends 'base.html' %}
{% block content %}

<center>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Play the word!</th>
                </tr>
            </thead>
            <tbody>
                {% for word in words %}
                <tr>
                    <td>  <a class="btn btn-primary btn-lg" href="/play/{{ word }} " role="button">{{ word }} </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</center>
{%  endblock content %}
